.individual {
    padding: 10px 40px;
    padding-bottom: 40px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    margin: 5px;
}
.container {
    display: inline-block;
}
.food-img {
    width: 300px;
}